# Ignorar todo dentro de la carpeta raw (pipeline IA)
IA/data/raw/*
# Excepción: no ignorar el archivo .gitkeep
!IA/data/raw/.gitkeep

IA/data/_fiftyone_zoo/*

!IA/data/_fiftyone_zoo/.gitkeep

data/processed/

# Python y ROS 2 build artifacts
__pycache__/
*.py[cod]
*$py.class
build/
install/
log/
.pytest_cache/

